doctype html
html
    head
        title= title
        link(rel='stylesheet prefetch', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
        link(rel='stylesheet prefetch', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='css/style.css')
        script(data-main='javascript/main', src='js/main.js', type='text/javascript')
    body
        block content